<link rel="stylesheet" href="/layout_styles.css">

{{#with header}}
  {{> header}}
{{/with}}
<main>
  <div class="nav-main-content">
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
    <p>Contenido de la página</p>
  </div>
</main>
<div itemtype="http://schema.org/Store" itemID="#this" itemScope style="position: relative; bottom:0;width:100%">
  {{#with footer}}
    {{> footer}}
  {{/with}}
</div>

{{> scripts}}
